*,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face {
  font-family: "Worksans" ;
  src: url("./faq-accordion-main/assets/fonts/WorkSans-VariableFont_wght.ttf");

}


body{
  min-height: 100vh;
  justify-content:center;
  font-family: "Worksans", sans-serif;
  align-items:center;
  display:flex;
  padding: 1em;

}

.bg{
  border-radius: ;
  min-width: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
}

.container{
  position: relative;
  border-radius: 0.5em;
  z-index: 2;
  padding: 1em;
  background: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.027), 0px 4px 4px rgba(0, 0, 0, 0.027), 0px 8px 8px rgba(0, 0, 0, 0.027) ;
}

.head{
  display:flex;
  gap: 0.5em;
}

.info_container{
  margin-block: 0.5em;
}

img{
  align-self: flex-start;
}

.info_head{
  display:flex;
  align-items:center;
  gap: 1em;
}

.add{
  cursor:pointer;
}


.info{
  transition: all 2s ease-in-out;
}
.hidden{
  display:none;
}